.row
  .span16.columns
    = form_for <%= classify_model_name %>.new, :url => "", :html => { :id => "#{form_type}_<%= singular_table_name %>" } do |f|
      %fieldset
<% attributes.each do |attribute| -%>
        .clearfix
          = f.label :<%= attribute.name %>
          .input
            = f.text_field :<%= attribute.name %>, :value => "${<%= attribute.name %>}", :class => "xlarge"

<% end -%>
        .actions
          = f.submit t("helpers.submit.#{form_type}", :model => f.object.class.model_name.human), :class => "btn primary"
