#<%= plural_name %>

:javascript
  $(function() {
    window.router = new <%= router_namespace %>Router({ <%= plural_model_name %>: #{ @<%= plural_name %>.to_json.html_safe } });
    Backbone.history.start();
  });

- content_for :templates do
  = script_template("index")
  = script_template("new")
  = script_template("show")
  = script_template("edit")
  = script_template("<%= singular_name %>")
